<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<<<<<<< HEAD
  <title>Team Group 4 Website</title>
=======
  <title>Team Mavericks Website</title>
>>>>>>> bf860bbcb8b0b7eab7cad59784f4e4f984761496
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
  <div>
<<<<<<< HEAD
      <h1>Welcome to Group 4 application</h1>
=======
      <h1>Welcome to Mavericks application</h1>
>>>>>>> bf860bbcb8b0b7eab7cad59784f4e4f984761496
    {{{body}}}
</div>
<div>
  <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>